{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-12">
        <img src="{{ cat.image.url }}" height="400px" width="100%">
    </div>
</div>

<div class="row mt-3 px-3" style="margin-bottom: 30px;"> <!-- Reduced margin-bottom -->
    <div class="col-12">
        <h3 class="text-center fw-bold text-dark mt-2 mb-1">{{ cat.name }}</h3> <!-- Reduced mb from 2 to 1 -->
        <p style="text-align: justify; margin-bottom: 0;">{{ cat.desc }}</p> <!-- Set margin-bottom to 0 -->
    </div>
</div>

<div class="container mt-3" style="margin-bottom: 100px;"> <!-- Adjusted margin-top -->
    <div class="row">
        {% for i in product %}
        <div class="col-sm-4">
            <div class="card mx-auto border-0 shadow-sm" style="width: 100%; border-radius: 15px; overflow: hidden;">
                <img src="{{ i.image.url }}" height="200px" width="100%" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-2">{{ i.name }}</h5> <!-- Reduced margin -->
                    <h5 class="card-title mb-2">{{ i.price }}</h5> <!-- Reduced margin -->
                    <a href="{% url 'shop:detail' i.id %}" class="btn btn-warning mb-2">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
